@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
@import url('https://fonts.googleapis.com/css?family=VT323');

*:focus{
	outline: none;
}

body {
	background-color: #CBE32D;
  margin: 0;
}

img{
	width: 200px;
	height: auto;
}

img:hover{
	width: 250px;
	height: auto;
}

ul{
	list-style-type: none;
}

input{
	width: 300px;
	height: 40px;
	border: 3px solid #4CAF50;
    border-radius: 10px;
}


label{
	font-size: 160%;
	font-family: 'VT323', monospace;
}

.home{
  position: absolute;;
  margin: auto;
  top: 0;
  right: 89%;
  bottom: 85%;
  left: 0;
  width: 100px;
  height: 100px;
}

.home i{
  font-size:175%;
	color: white;
}

.home i:hover{
  color: #4CAF50;
}



.logo{
	position: absolute;;
  margin: auto;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 75%;
  width: 14%;
  height: 12%;
}

.logo:hover{
	position: absolute;
	margin: auto;
  top: 78%;
  bottom: 0;
  right: 0;
  left: 73%;


}

.username{
	position: absolute;
  margin: auto;
  top: 0;
  bottom: 66%;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;

}

.age{
	position: absolute;
  margin: auto;
  top: 0;
  bottom: 41%;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;

}

.gender{
	position: absolute;
  margin: auto;
  top: 0;
  bottom: 16%;
  right: 0;
  left: 0;
  width: 300px;
  height: 50px;

}

.myButton{
	cursor: pointer;
	background-color: white;
	font-size: 120%;
	font-family: 'VT323', monospace;
	width: 100%;
	height: 100%;
	border: 3px solid #4CAF50;
	border-radius: 10px;
	-webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.myButton:hover{
  background-color: #4CAF50;
  color: white;
  border: 4px solid white;
}

.myButton:active{
  background-color: #4CAF50;
  color: white;
  border: 4px solid #4CAF50;
}

.login{
	position: absolute;
  margin: auto;
  top: 15%;
  bottom: 0;
  right: 0;
  left: 0;
  width: 165px;
  height: 45px;
}
